.display-4
{
    font-weight: bold !important;
   background-color:white !important;
   text-align: center !important;
   margin-top: 75px !important;
}

.lead
{
    margin-top: 25px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    text-align: right !important;
}