body {
    background-image: url('img/giftBground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}    

.navbar-light{
    background-color: pink !important;
}

.navbar-brand{
    font-weight: bold;
    font-size: 28px;
    color: blanchedalmond !important;
}

.nav-link{
    font-size: 20px;
    color: blanchedalmond !important;   
}

.display-4{
   font-weight: bold !important;
   
   text-align: center !important;
   margin-top: 75px !important;
}

.lead{
    margin-top: 25px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    text-align: right !important;
}

.lead_1{
    margin-top: 25px;
    margin-right: 20px !important;
    text-align: right !important;
}

.display-3{
    font-weight: bold !important;
    
    text-align: center !important;
 }
 
 
 .jumbotron /*כותרת*/{
     
     margin-top: 10px !important;
    
 }
 
 .active /*כפתור*/{
    margin-left: 720px;
    margin-top: 10px;
    background-color: palevioletred !important;
 }
 
 .form-group/*טופס*/{  
   text-align: right !important;
   margin-left:750px;
 }

 .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #20263f;
  }
  .container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  
  img {
    border-radius: 10px;
    padding: 5px;
  }
  .description {
    display: none;
    position: absolute;
  }
  
  .container > div:hover {
    transform: scale(1.1);
  }
  .container > div:hover .description {
    display: block;
    text-align: center;
  }
  
  .container > div:hover img {
    opacity: 0.7;
  }


  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
  }
 .btn-sm
{
    background-color: pink !important;
    margin-top: 10px;
}
.col-md-2
{
    margin-top: 20px;
}
 
 
  


