.navbar-light
{

    background-color: pink !important;
}

.navbar-brand

{
    font-weight: bold;
    font-size: 28px;
    color: blanchedalmond !important;
}

.nav-link
{
    font-size: 20px;
    color: blanchedalmond !important;
    
}



