.container {
    max-width: 60rem;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
  
  .mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
  }

  .btn btn-sm btn-outline-secondary{
    background-color: pink;
  }

  .row{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

 
    