.container {
    max-width: 40rem;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
  }

  .btn btn-sm btn-outline-secondary{
    background-color: pink;
  }

  .row{
    margin-right: auto;
    margin-left: auto;
    max-width: 900px
  }

 
    