.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #20263f;
  }
  .container > div > img {
    width: 100%;
    height: 100%;
    object-fit: initial;
    
  }
  .container {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }
  
  img {
    border-radius: 10px;
    padding: 5px;
    
  }

  .description {
    display: none;
    position: absolute;
  }
  
  .container > div:hover {
    transform: scale(1.1);
  }
  .container > div:hover .description {
    display: block;
    text-align: center;
  }
  
  .container > div:hover img {
    opacity: 0.7;
  }
